
.header-link a{
    text-decoration: none;
    margin-right: 1.5em;
    font-weight: 700;
;
    color: #707071;
}
.signin-signout a{
    padding: 9px 34px;
    border-radius: 40px;
    margin-top: 13px;
    margin-left: 0px;
    cursor: pointer;
    color:white;
    margin-right: 57px;
    background-image: linear-gradient(#DE3E81, #E8273C);
}
.navbar-text h4{
    margin-top: 14px;
}
